.movie-details-section {
  display: flex;
  background-color: var(--primary);
  width: 100%;
}

.movie-detailes-section__left {
  display: flex;
  gap: var(--big-margin);
  padding-right: 10vw;
  /* width: 80%; */
}
.movie-detailes-section__right {
  height: 400px;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 70px;
  gap: 25px;
}
.genres {
  display: flex;
  gap: var(--small-margin);
}
.movie-detailes-section__vote {
  display: flex;
  gap: var(--small-margin);
  margin-top: 10px;
}
.movie-detailes-section__crew {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.movie-detailes-section__btn:active {
  transform: scale(80%);
}
@media screen and (max-width: 950px) {
  .movie-details-section {
    flex-direction: column;
  }
  .movie-detailes-section__left {
    flex-direction: column;
    align-items: center;
  }

  .movie-detailes-section__btn {
    align-items: center;
  }
  .movie-detailes-section__btn {
    align-items: center;
    justify-content: center;
  }
  .movie-detailes-section__right {
    border-left: none;
    display: flex;
    padding: 10px 0px 0px 0px;
    padding-bottom: none;
  }
}
