.cta-container {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.cta__heading {
  width: 60vw;
  margin-bottom: 32px;
}
.cta__discription {
  margin-bottom: 32px;
}

@media only screen and (max-width: 950px) {
  .cta-container {
    margin-top: 24px;
  }
}
